img{
    width:25%;
    height:25%;
}
div{
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
}
.skill_1{
    position:absolute;
    left:0;
    bottom:0;
    width:75px;
    height:100px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius:25px;
}
.skill_2{
    position:absolute;
    right:0;
    bottom:0;
    width:75px;
    height:100px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius:25px;
}
.skill_3{
    position:absolute;
    left:0;
    top:25;
    width:75px;
    height:100px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius:25px;
}
.skill_4{
    position:absolute;
    right:0;
    top:25;
    width:75px;
    height:100px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius:25px;
}
.add_scope{
    position:absolute;
    left:600px;
    bottom:50px;
    width:200px;
    height:50px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius:10px;
}
.day{
    position:absolute;
    right:0;
    top:0;
    width:200px;
    height:50px;
    font-size: 25px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
}
.scope{
    position:absolute;
    right:200px;
    top:0;
    width:250px;
    height:200px;
    font-size: 25px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
}
.day_plus{
    position: absolute;
    width: 200px;
    height: 50px;
    left:600px;
    bottom:0;
    font-size: 25px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
}
.pers1{
    position: absolute;
    width:150px;
    height:225px;
    left:0;
    bottom:0;
}
.pers2{
    position: absolute;
    width:150px;
    height:225px;
    left:150px;
    bottom:0;
}
.pers3{
    position: absolute;
    width:150px;
    height:225px;
    left:300px;
    bottom:0;
}
.pers4{
    position: absolute;
    width:150px;
    height:225px;
    left:450px;
    bottom:0;
}
.name{
    width:100%;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 25px;
    border:none;
}
.random{
    position: absolute;
    bottom: 0;
    right: 0;
    width:150px;
    height:200px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
}
.no_random{
    position: absolute;
    bottom: 0;
    right: 150px;
    width:150px;
    height:200px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
}
.store{
    position: absolute;
    top: 0;
    left: 200px;
    height: 150px;
    width: 400px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
}
.add_robot{
    position: absoulute;
    top:0;
    left:0;
    width:100px;
    height:150px;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
}
.H{
    position: absolute;
    width:100%;
    height:25%;
    font-size:100%;
    left:0;
    top:0;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
    border:none;
}
.E{
    position: absolute;
    width:100%;
    height:25%;
    font-size:100%;
    left:0;
    top:25%;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
    border:none;
}
.D{
    position: absolute;
    width:100%;
    height:25%;
    font-size:100%;
    left:0;
    top:50%;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
    border:none;
}
.Z{
    position: absolute;
    width:100%;
    height:25%;
    font-size:100%;
    left:0;
    top:75%;
    color: #f8ed77;
    background-color: #4c7fb4;
    border-radius: 10px;
    border:none;
}